[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
litellm = "*"
supabase = "*"
requests = "*"
pandas = "*"
openai = "*"
together = "*"
anthropic = "*"
asyncio = "*"
nest-asyncio = "*"
pika = "*"
openpyxl = "*"
langchain = "*"
langchain-huggingface = "*"
langchain-openai = "*"
langchain-anthropic = "*"
dotenv = "*"
langchain-core = "*"
langchain-community = "*"
langgraph = "*"
langchain-groq = "*"
langchain-google-genai = "*"
langchain-chroma = "*"
chromadb = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
colorama = "*"
langserve = "*"
sse-starlette = "*"
uvicorn = "*"
gunicorn = "*"
fastapi = "*"
pypdf = "*"
python-docx = "*"
pydantic = ">=2"
bs4 = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
braintrust = "*"
arize = "*"
"arize.otel" = "*"
"openinference.instrumentation.openai" = "*"
pytest-asyncio = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
tavily-python = "*"

[requires]
python_version = "3.11"
